/* COMMON STYLES */

:root {
    --theme-color_red: rgb(251,79,86); /* #fb4f56 */
    --theme-color_blue: rgb(79,164,251); /* #4fa4fb */
    --theme-color_orange: rgb(251,176,79); /* #fbb04f */
    --theme-color_green: rgb(65,227,122); /* #41e37a */
}

.main-container, .data-section, .form-section {
    background-color: rgb(231,235,239);
}

.header-section, .library-stats_menu-item, form fieldset, label, .book-state, .bookshelf-subsection {
    display: flex;
}

#online-library_stats-btn:hover, #new-book_menu-btn:hover {
    transform: scale(1.1);
}

.data-section, .form-section {
    width: 100%;
    max-width: 37.5rem;
    height: calc(100vh - 9.3rem);
    padding: 2rem;
    position: fixed;
    top: 9.3rem;
    transition: transform 0.3s;
    z-index: 7;
}

.empty-section, .book-delete_warning-area, .book-info-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    display: none;
}

#online-library_stats-btn, #new-book_menu-btn {
    height: 5rem;
    width: 5rem;
}

.main-container, .data-section, .form-section, form, .label-input-error_container, .library-stats_menu-list, .empty-section, .book, .bookshelf-subsection_book-item {
    display: flex;
    flex-direction: column;
}

form, .bookshelf-subsection, .bookshelf-subsection_book-item, .book-options-area, .book-delete_warning-area, #current-book_wm-container {
    justify-content: center;
    align-items: center;
}

form legend, h2, .menu-heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

#reset-library_btn, #submit-form_btn, #random-books_btn {
    margin: 0 auto;
    height: 4rem;
    width: 86%;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    border: 0;
    text-transform:uppercase;
    cursor: pointer;
}

.book-info-screen_close-btn:hover, .book-note_save-btn:hover {
    opacity: .5;
}

/* CUSTOM STYLES */

.page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

/* HEADER STYLES */

.header-section {
    height: 9.3rem;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    column-gap: 2rem;
    background-color: var(--theme-color_orange);
    border-bottom: .5rem solid var(--theme-color_blue);
    box-shadow: 0 0 1rem .1rem black;
    z-index: 9;
}

.top-heading {
    display: none;
    font-family: 'Yellowtail', cursive;
    font-size: 4rem;
    text-align: center;
}

#online-library_stats-btn {
    background: url('./images/online-library_favicon.png') no-repeat center;
    background-size: cover;
}

#new-book_menu-btn {
    background: url('./images/plus-svgrepo-com.svg') no-repeat center;
    background-size: cover;
    border-radius: 50%;
}

/* MAIN STYLES */

.main-container {
    height: calc(100vh - 9.3rem);
    position: relative;
    overflow-x: hidden;
    align-items: center;
    padding: 4.6rem;
    row-gap: 4rem;
}

/* DATA SECTION */

.data-section {
    row-gap: .5rem;
    left: -37.5rem;
    transform: translateX(0);
}

.show-data-section {
    transform: translateX(100%);
}

.library-stats_menu-list {
    row-gap: 1rem;
    padding: 2rem;
}

.library-stats_menu-item {
    justify-content: space-between;
    align-items: center;
    border-bottom: thin solid black;
    height: 4.6rem;
    font-size: 1.5rem;
    font-weight: 600;
}

#reset-library_btn {
    background-color: var(--theme-color_red);
    width: 88%;
}

/* FORM SECTION */

.form-section {
    right: 0;
    transform: translateX(100%);
}

.show-form-section {
    transform: translateX(0);
}

form {
    row-gap: 2.8rem;
    position: relative;
}

form fieldset, .label-input-error_container {
    row-gap: 2rem;
}

form fieldset {
    flex-direction: column;
}

label {
    column-gap: 1rem;
    font-size: 1.7rem;
    font-weight: 600;
}

input, select {
    margin-left: auto;
    padding-left: .3rem;
    border: thin solid black;
    background-color: white;
}

input[type='number'], select {
    width: 12.6rem;
}

#select-state option:nth-child(1), #select-rate option:nth-child(1), #select-rate option:nth-child(2) {
    background-color: var(--theme-color_red);
}

#select-state option:nth-child(2), #select-rate option:nth-child(3) {
    background-color: var(--theme-color_orange);
}

#select-state option:nth-child(3), #select-rate option:nth-child(4), #select-rate option:nth-child(5) {
    background-color: var(--theme-color_green);
}

.form_warning-message {
    font-size: 1rem;
    color: var(--theme-color_red);
    margin-top: -1.5rem;
    display: none;
}

#number-pages-read_container .form_warning-message, #book-pages-count_wm-blank {
    margin-top: .5rem;
}

.invalid-input {
    border: thin solid var(--theme-color_red);
    background-color: rgba(251,79,86, .3);
}

.invalid-input:focus {
    outline: thin solid black;
}

#number-pages-read_container, #select-rate_container, #book-pages-count_container {
    display: none;
}

#current-book_wm-container {
    position: absolute;
    height: 25rem;
    width: 30rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 0 0 .5rem .1rem gray;
    display: none;
    padding: 2.5rem;
    background-color: rgba(251,79,86, .9);
}

#current-book_wm-container p {
    position: relative;
    line-height: 3.7rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

#error-message_close-btn {
    background: url('./images/x-icon.svg') no-repeat center;
    background-size: cover;
    position: absolute;
    top: .5rem;
    right: 0;
    height: 3.7rem;
    width: 3.7rem;
    z-index: 9;
}

#book-cover-image::placeholder  {
    text-align: center;
    font-size: .73rem;
}

.label-input-error_container label {
    position: relative;
}

.label-input-error_container:not(:nth-child(3),:nth-child(4)) label::before {
    content: '*';
    position: absolute;
    color: var(--theme-color_red);
    top: .3rem;
    left: -1.5rem;
}

#submit-form_btn {
    background-color: var(--theme-color_blue);
}

/* EMPTY SECTION */

.empty-section {
    background-color: white;
    width:  35rem;
    box-shadow: 0 0 .5rem .1rem gray;
    row-gap: 1rem;
}

.empty-section header {
    border-bottom: thin solid lightgray;
    padding: 1rem;
}

.empty-section p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

#random-books_btn {
    background-color: var(--theme-color_orange);
    width: 100%;
}

/* BOOKSHELF SECTION */

.bookshelf-section {
    background-color: lightgray;
    border: 1rem double black;
    box-shadow: 0 0 .5rem .1rem gray;
    min-width: 20rem;
    max-width: 80%;
    padding: 1rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.bookshelf-subsection {
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 100%;
}

.bookshelf-subsection_book-item {
    position: relative;
}

.book-cover {
    height: 19.3rem;
    min-width: 25%;
    width: 16rem;
    max-width: 100%;
    cursor: pointer;
    background: transparent url('./images/default-cover-image.jpg') no-repeat top;
    background-size: cover;
    outline: .5rem groove var(--theme-color_orange);
    box-shadow: 0 0 .5rem .1rem gray;
}

.book-cover img, .book-info-screen a {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

.book-cover img {
    height: 100%;
    width: 100%;
}

.book-options-area {    
    position: absolute;
    display: none;
    flex-direction: column;
    row-gap: 2rem;
}

.bookshelf-subsection_book-item:hover .book-cover {
    opacity: .5;
}

.bookshelf-subsection_book-item:hover .book-options-area {
    display: flex;
}

.book-options-area button {
    height: 4rem;
    width: 16rem;
    color: white;
    font-weight: bold;
}

.update-btn {
    background-color: var(--theme-color_green);
}

.delete-btn {
    background-color: var(--theme-color_red);
}

.book-delete_warning-area {
    background-color: white;
    flex-direction: column;
    text-align: center;
    height: 15rem;
    width: 37.5rem;
    box-shadow: 0 0 1rem .1rem black;
    border-radius: 1rem;
}

.book-delete_warning-question {
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.warning-question_buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.warning-question_buttons-container button {
    border-radius: 50%;
}

.warning-question_buttons-container button:hover {
    transform: scale(1.1);
}

.confirm-btn {
    background: transparent url('./images/confirm-svgrepo-com.svg') no-repeat center;
    background-size: cover;
    height: 4rem;
    width: 4rem;
}

.cancel-btn {
    background: transparent url('./images/cancel-svgrepo-com.svg') no-repeat center;
    background-size: cover;
    height: 5.3rem;
    width: 5.3rem;
}

.book-info-screen {
    background-color: var(--theme-color_orange);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50rem;
    width: 70%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem .1rem black;
}

.book-info-screen_close-btn {
    position: absolute;
    height: 3rem;
    width: 3rem;
    background: var(--theme-color_red) url('./images/x-icon.svg') no-repeat center;
    background-size: cover;
    border-radius: 50%;
    top: .5rem;
    right: .5rem;
}

.book-info-screen_book-cover {
    height: 40%;
    width: 100%;
    background: transparent url('./images/default-cover-image.jpg') no-repeat top;
    background-size: cover;
}

.book-info-screen_book-cover img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.book-info-screen_list-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    row-gap: 1rem;
    margin-bottom: auto;
}

.book-info-screen_list-items header {
    border-bottom: thin solid gray;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: .5rem;
}

.book-name {
    text-shadow: 1px 2px gray;
}

.book-author {
    font-weight: 500;
}

.progress-bar-container, .book-reading-progress-bar {
    width: 100%;
    background-color: lightgray;
    border-radius: 1rem;
}

.book-reading-progress-bar {
    max-width: 100%;
    height: 1.2rem;
    background-image: linear-gradient( to right, var(--theme-color_red), var(--theme-color_green) );
    transition: width 0.4s ease-in;
}

.book-note textarea {
    height: 15rem;
    width: 100%;
    resize: none;
    border: thin solid var(--theme-color_blue);
    outline: 0;
    padding: .5rem;
}

.book-note_save-btn {
    background-color: var(--theme-color_blue);
    height: 3rem;
    width: 100%;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .top-heading {
        display: block;
    }
    .book-info-screen {
        flex-direction: row;
        height: 50rem;
        width: 50%;
    }
    .book-info-screen_book-cover {
        height: 100%;
        width: 30%;
    }
    .book-info-screen_book-cover img {
        border-radius: unset;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .book-info-screen_close-btn {
        height: 5rem;
        width: 5rem;
        background-color: transparent;
    }
    .book-info-screen_list-items {
        width: 70%;
        padding: 5rem;
        row-gap: 1rem;
    }
    .book-note textarea {
        height: 35vh;
        max-height: 30rem;
        border: .3rem solid teal;
    }
    .book-note_save-btn {
        height: 4rem;
    }
}

@media (min-width: 992px) {
    .bookshelf-section {
        padding: 0;
        gap: 0;
    }
    
    .bookshelf-subsection {
        box-shadow: 0 0 .5rem .1rem gray;
        height: 22rem;
        padding: 1rem;
    }
    
    .first-subsection {
        border-bottom: .25rem solid black;
    }
    
    .new-subsection {
        border-top: .25rem solid black;
        border-bottom: .25rem solid black;
    }
}