/*! COMMON STYLES */

body, .main-section, .footer-section {
    display: flex;
}

/*! CUSTOM STYLES */

body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F55B4A;
}

.main-section {
    margin-top: auto;
    column-gap: 3.7rem;

    .info-box {
        line-height: 4.6rem;

        & > p {
            color: #F6C851;
            text-align: center;
            font-weight: 500;
        }

        & p:last-child {
            color: #22223A;
            font-size: 2.8rem;
            font-weight: bolder;
            height: 11rem;
            width: 19rem;
            border: thick dotted #F6C851;
            padding: 2.5rem;
        }
    }
}

.footer-section {
    justify-content: center;
    column-gap: 1rem;
    text-align: center;
    width: 100%;
    margin: auto 0 .3rem;

    & a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        color: #22223A;
    }

    & img {
        display: inline;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: rotate(360deg) scale(1.2);
        }
    }
}