/*! COMMON STYLES */

:root {
    --page-container-bg-color: #f8f8ff;
    --step-status-circle-bg-color: #fffafa;
    --uncompleted-steps-color: #d3d3d3;
    --completed-steps-color: #d3143c;
    --disabled-step-button-bg-color: #a9a9a9;
    --step-buttons-bg-color: #3a3a3a;
}

#page-container, .main-section, .step-progress-bars-subsection, .step-status-circle, .step-progress-buttons-subsection,  .footer-section {
    display: flex;
}

/*! CUSTOM STYLES */

#page-container {
    background-color: var(--page-container-bg-color);
    flex-direction: column;
}

/* MAIN SECTION */
.main-section {
    margin-top: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5rem;

    .step-progress-bars-subsection {
        justify-content: center;
        align-items: center;

        .step-status-circle {
            width: 3.7rem;
            height: 3.7rem;
            border: .5rem solid var(--uncompleted-steps-color);
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            font-weight: 600;
            color: var(--uncompleted-steps-color);
            transition: border-color, color, .5s;
            position: relative;

            &.completed {
                border-color: var(--completed-steps-color);
                color: var(--completed-steps-color);

                &::after {
                    position: absolute;
                    top: 3.7rem;
                    width: 4rem;
                    text-align: center;
                }

                &.step-start::after {
                    content: "Start";
                }

                &.step-1::after {
                    content: "Step 1";
                }

                &.step-2::after {
                    content: "Step 2";
                }

                &.step-3::after {
                    content: "Step 3";
                }

                &.step-final::after {
                    content: "Final";
                }

            }
        }

        .progress-bar-container {
            background-color: var(--uncompleted-steps-color);
            width: 10rem;
            height: .5rem;

            .progress-bar {
                width: 0%;
                height: 100%;
                transition: width 1s, background-color 1s;

                &.completed {
                    width: 100%;
                    background-color: var(--completed-steps-color);
                }
            }
        }
    }

    .step-progress-buttons-subsection {
        column-gap: 2rem;

        & button {
            background-color: var(--step-buttons-bg-color);
            color: white;
            width: 5rem;
            height: 3rem;
            border-radius: .5rem;
            transition: opacity, color, background-color, .5s;

            &:hover {
                opacity: .5;
            }

            &:disabled {
                background-color: var(--disabled-step-button-bg-color);
                color: black;
                cursor: not-allowed;
            }
        }
    }
}

/* FOOTER SECTION */
.footer-section {
    justify-content: center;
    column-gap: 1rem;
    text-align: center;
    width: 100%;
    margin: auto 0 .3rem;

    & a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        color: black;
    }

    & img {
        display: inline;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: rotate(360deg) scale(1.2);
        }
    }
}