/* RESET */
#root, #__next {
	isolation: isolate;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;  
    padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    max-width: 100vw;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    width: 90%;
    margin: 0 auto;
    padding: 6rem 0;
}

ul[class],
ol[class],
li {
    list-style: none;
}
/*****/

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
}

#img-section {
    min-width: 50%;
    width: auto;
}

#img-section > img {
    min-height: 50rem;
    width: 100%;
    border-radius: 1rem;
}

#tabs-section {
    min-height: 50rem;
    width: auto;
    border-radius: 1rem;
    background-color: rgb(250, 210, 229);
}

#tabs-switch-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

li {
    border: 0;
    height: 5rem;
    background-color:lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: .5rem;
    font-weight: bold;
    cursor: pointer;
}

#tabs-switch-area li:first-child {
    border-top-left-radius: 1rem;
}

#tabs-switch-area li:last-child {
    border-top-right-radius: 1rem;
}

#tabs-switch-area li:hover:not(.active-tab) {
    background-color:deeppink;
    transition: all 0.3s linear;
}

.active-tab {
    background-color: rgb(250, 210, 229);
    cursor: not-allowed;
}

#tabs-show-area {
    min-height: 45rem;
    padding: 5rem 3rem;
    color: lightslategray;
}

#tabs-area-heading {
    font-size: 2rem;
}

#tabs-show-area p {
    margin-top: 1rem;
}

#step-2-text, #step-3-text {
    display: none;
}

/* For Big Screen Devices */
@media screen and (min-width: 1440px) {
    #container {
        flex-wrap: nowrap;
    }
}