/*! COMMON STYLES */

body, .main-section, .footer-section {
    display: flex;
}

/*! CUSTOM STYLES */

body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:forestgreen;
}

.main-section {
    height: 37rem;
    width: 28rem;
    background-color: rgba(0, 100, 0, 0.5);
    margin-top: auto;
    border-radius: .7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 1rem;
    color: floralwhite;
    box-shadow: 0 0 .7rem .3rem floralwhite;

    label {
        line-height: 2.8rem;
        font-weight: 500;

        input {
            width: 100%;
            padding: 0 .3rem;
        }
    }

    footer {
        margin-right: auto;
        font-weight: 500;

        .monthly-payment-amount {
            font-weight: bold;
        }
    }
}

.footer-section {
    justify-content: center;
    column-gap: 1rem;
    text-align: center;
    width: 100%;
    margin: auto 0 .3rem;

    & a {
        text-decoration: none;
        font-size: 2rem;
        font-weight: 500;
        color: #22223A;
    }

    & img {
        display: inline;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: rotate(360deg) scale(1.2);
        }
    }
}